.HeroSlider {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background: #000;
  }

  .swiper-slide img {
    object-fit: cover;
  }

  .swiper-pagination-bullet-active {
    background: red !important;
    transform: scale(1.9);
    border: 1px solid #fff;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #9ca3af;
    opacity: 1;
  }
}
